* {
    font-family: "Nunito Sans", sans-serif;
  }
  
  body {
    background: #f1f6fe !important;
  }
  
  .logo {
    width: 200px;
  }
  
  .custom-primary {
    color: #25254c;
    font-weight: bold;
  }
  
  .custom-img {
    width: 500px;
    margin-top: 6rem;
  }
  
  .custom-btn {
    border-radius: 20px;
    font-size: 30px;
    background: white;
    border: none;
    padding: 1rem 2rem;
    color: #25254c;
    width: 100%;
    margin-bottom: 2rem;
    font-weight: bold;
  }

  .play-again-btn {
    border-radius: 20px;
    font-size: 30px;
    background: white;
    border: none;
    padding: 1rem 2rem;
    width: 625px;
    color: #25254c;
    margin-bottom: 2rem;
    margin-top: 5rem;
    font-weight: bold;
  }
  
  .custom-bg-green {
    background: #6bcd57;
    color: #fff;
  }
  
  .custom-bg-red {
    color: #fff;
    background: #ff0707;
  }
  